*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0px;
}

header {
  text-align: center;
  color: #3a053a;
}

body {
  background-color: #2178fa;
}

#game {
  height: 80%;
  position: relative;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
  margin: auto;
  width: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box {
  position: relative;
  margin: -0.5px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: beige;
  border: 5px solid #3a053a;
  z-index: 0;
  width: 100px;
  height: 100px;
}

.box:nth-child(3n + 1) {
  border-left: none;
}

.box:nth-child(3n + 3) {
  border-right: none;
}

.box:nth-child(n + 0) {
  border-top: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.box.circle::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #2178fa;
  border-radius: 50%;
  cursor: not-allowed;
}

.box.inactive {
  pointer-events: none;
  cursor: not-allowed;
}

.box.circle::before {
  content: '';
  position: absolute;
  background-color: #b6f0f1;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: not-allowed;
}

.result {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vh;
  height: 100vw;
  pointer-events: none;
}

.result.appear {
  display: block;
}

.restart-button:hover {
  background-color: white;
  color: #2178fa;
}

.restart-button {
  padding: 5px;
  color: white;
  display: none;
  pointer-events: none;
  background-color: #2178fa;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 3px solid #3a053a;
  border-radius: 5px;
  cursor: pointer;
}

.restart-button.active {
  display: block;
  pointer-events: all;
}

.box.x::after {
  content: '';
  position: absolute;
  background-color: #b6f0f1;
  width: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  height: 100px;
  cursor: not-allowed;
}

#msg {
  top: 30%;
  color: #12d612;
  position: absolute;
}

.box.x::before {
  content: '';
  position: absolute;
  background-color: #b6f0f1;
  width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 100px;
  cursor: not-allowed;
}
/*# sourceMappingURL=style.css.map */