$gamebackground: #ddd;
$border: 5px solid rgb(58, 5, 58);
$boxbackground: rgba(39, 71, 9, 0.801);
$boxsize: 100px;
$circlesize: $boxsize * 0.8;
$linewidth: 10px;
$headertextcolor: rgb(58, 5, 58);
$lineheight: $boxsize;
$msgcolor: rgb(114, 145, 250);
$circlendxcolor: rgb(176, 70, 218);
$buttoncolor: rgb(33, 120, 250);
$btnborder: 2px solid #ddd;
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0px;
}

header {
  align-items: center;
  text-align: center;
  color: $headertextcolor;
}
#theme {
  position: absolute;
  top: 5%;
  right: 10%;
  background: $headertextcolor;
  padding: 0.8rem 1rem;
  color: #ddd;
  border-radius: 8px;
  font-size: 1rem;
}
body {
  background-color: $gamebackground;
}
#game {
  height: 80%;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  display: flex;
  position: relative;
  z-index: 0;
  margin: auto;
  width: 100vh;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  position: relative;
  margin: -0.5px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  //background: $boxbackground;
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
  border: $border;
  z-index: 0;
  width: $boxsize;
  height: $boxsize;
}
.box:nth-child(3n + 1) {
  border-left: none;
}
.box:nth-child(3n + 3) {
  border-right: none;
}
.box:nth-child(n + 0) {
  border-top: none;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
  border-bottom: none;
}

.box.circle::after {
  content: '';
  position: absolute;
  width: $circlesize;
  height: $circlesize;
  background-color: $gamebackground;
  border-radius: 50%;
  cursor: not-allowed;
}
.box.inactive {
  pointer-events: none;
  cursor: not-allowed;
}
.box.circle::before {
  content: '';
  position: absolute;
  background-color: $circlendxcolor;
  border-radius: 50%;
  width: $boxsize;
  height: $boxsize;
  cursor: not-allowed;
}
.result {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vh;
  height: 100vw;
  pointer-events: none;
}
.result.appear {
  display: block;
}
.restart-button:hover {
  background-color: white;
  color: $buttoncolor;
}
.restart-button {
  padding: 5px;
  color: white;
  display: none;
  pointer-events: none;
  background-color: $buttoncolor;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $btnborder;
  border-radius: 5px;
  cursor: pointer;
}
.restart-button.active {
  display: block;
  pointer-events: all;
}
.box.x::after {
  content: '';
  position: absolute;
  background-color: $circlendxcolor;
  width: $linewidth;
  transform: rotate(-45deg);
  height: $lineheight;
  cursor: not-allowed;
}
#msg {
  top: 30%;
  color: $msgcolor;
  position: absolute;
}
.box.x::before {
  content: '';
  position: absolute;
  background-color: $circlendxcolor;
  width: $linewidth;
  transform: rotate(45deg);
  height: $lineheight;
  cursor: not-allowed;
}
//dark themes adaptation
$ondxcolor: #ddd;
$txtcolor: #ddd;
$darkbg: rgb(58, 5, 58);
.app.dark {
  body {
    background-color: $darkbg;
  }
  header {
    color: $txtcolor;
  }
  .box.circle::after {
    background-color: $darkbg;
  }

  .box {
    border-color: $txtcolor;
  }
}
